<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.gatech.irespond"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">

		<activity
			android:name=".Home"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>


		<activity
			android:name=".Respond"
			android:label="Respond"
			android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SeekHelp"
			android:label="SeekHelp"
			android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SendAndConfirm"
			android:label="SendAndConfirm"
			android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".Receive">
			<intent-filter>
				<action
					android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>

		<activity
			android:name=".Lastpage"
			android:label="Instructions"
			android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>


	</application>
	<uses-sdk
		android:minSdkVersion="5" />

	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission
		android:name="android.permission.SEND_SMS" />
	<uses-permission
		android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_GPS" />
	<uses-permission
		android:name="android.permission.RECEIVE_SMS">
	</uses-permission>



</manifest> 